<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT blogContent ANY>
<!ATTLIST blogContent id ID #REQUIRED>
<!ELEMENT blogCategory ANY>
<!ATTLIST blogCategory id ID #REQUIRED>
<!ELEMENT blogPage ANY>
<!ATTLIST blogPage id ID #REQUIRED>
<!ELEMENT blogPostHolder ANY>
<!ATTLIST blogPostHolder id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT prices ANY>
<!ATTLIST prices id ID #REQUIRED>
<!ELEMENT program ANY>
<!ATTLIST program id ID #REQUIRED>
<!ELEMENT programs ANY>
<!ATTLIST programs id ID #REQUIRED>
<!ELEMENT result ANY>
<!ATTLIST result id ID #REQUIRED>
<!ELEMENT results ANY>
<!ATTLIST results id ID #REQUIRED>
<!ELEMENT price ANY>
<!ATTLIST price id ID #REQUIRED>
<!ELEMENT trainer ANY>
<!ATTLIST trainer id ID #REQUIRED>
<!ELEMENT trainers ANY>
<!ATTLIST trainers id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1141" key="fd275698-05c7-4470-a186-25d8de430585" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-06-27T23:04:53" updateDate="2016-07-14T15:40:33" nodeName="Home Page" urlName="home-page" path="-1,1141" isDoc="" nodeType="1130" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1129" nodeTypeAlias="homePage">
    <websiteTitle><![CDATA[MST Systems]]></websiteTitle>
    <headerDescription><![CDATA[<p>Training Systems personally tailored for you.</p>]]></headerDescription>
    <programsDescription><![CDATA[<p>We offer a wide range of plans, all tailored to help you reach your goals.</p>]]></programsDescription>
    <programsTitle><![CDATA[Our Programs]]></programsTitle>
    <priceTitle><![CDATA[Prices and Contracts]]></priceTitle>
    <pricesDescription><![CDATA[<p>We offer a range of options at MST to help you achieve your fitness goals. Per day sessions are £4.50, or a year's gym membership is £300. MST System memberships can be scheduled in for out-of-hour sessions, but standard gym memberships are restricted to the gym opening hours.</p>]]></pricesDescription>
    <programs id="1143" key="fe25c51e-48a0-4014-8581-adb51f9c44d2" parentID="1141" level="2" creatorID="0" sortOrder="1" createDate="2016-06-27T23:25:55" updateDate="2016-06-28T00:11:15" nodeName="Programs" urlName="programs" path="-1,1141,1143" isDoc="" nodeType="1135" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="0" nodeTypeAlias="programs">
      <program id="1145" key="80b1370c-ce8a-4616-b400-76f638a310e0" parentID="1143" level="3" creatorID="0" sortOrder="2" createDate="2016-06-28T00:19:34" updateDate="2016-07-14T14:01:19" nodeName="Nutrition" urlName="nutrition" path="-1,1141,1143,1145" isDoc="" nodeType="1140" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1139" nodeTypeAlias="program">
        <programTitle><![CDATA[Nutrition]]></programTitle>
        <programDescription><![CDATA[<p>The foundation of any fitness regime. Your diet needs to be on point to get to where you want.</p>]]></programDescription>
        <programIcon><![CDATA[1073]]></programIcon>
      </program>
      <program id="1243" key="315c07a0-0ac7-47e2-9755-dce625200df5" parentID="1143" level="3" creatorID="0" sortOrder="3" createDate="2016-07-14T14:02:13" updateDate="2016-07-14T14:02:13" nodeName="Weight Loss" urlName="weight-loss" path="-1,1141,1143,1243" isDoc="" nodeType="1140" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1139" nodeTypeAlias="program">
        <programTitle><![CDATA[Weight Loss]]></programTitle>
        <programDescription><![CDATA[<p>Want to shed those unwanted pounds? Weight loss has many proven health benefits, so let us help you reach your goal weight.</p>]]></programDescription>
        <programIcon><![CDATA[1071]]></programIcon>
      </program>
      <program id="1244" key="cd6e2838-46b7-4ff1-b533-16fd54ea5a15" parentID="1143" level="3" creatorID="0" sortOrder="4" createDate="2016-07-14T14:05:36" updateDate="2016-07-14T14:11:01" nodeName="Weightlifting" urlName="weightlifting" path="-1,1141,1143,1244" isDoc="" nodeType="1140" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1139" nodeTypeAlias="program">
        <programTitle><![CDATA[Weightlifting]]></programTitle>
        <programDescription><![CDATA[<p>We can help you learn proper technique and training protocols when it comes to weightlifting whether you want to improve your strength, or build some muscle and keep that risk of injury low.</p>]]></programDescription>
        <programIcon><![CDATA[1072]]></programIcon>
      </program>
    </programs>
    <trainers id="1163" key="6f7bd131-a74c-4e18-a905-e1d477210d4b" parentID="1141" level="2" creatorID="0" sortOrder="2" createDate="2016-06-28T13:35:59" updateDate="2016-06-28T13:35:59" nodeName="Trainers" urlName="trainers" path="-1,1141,1163" isDoc="" nodeType="1152" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="0" nodeTypeAlias="trainers">
      <trainer id="1164" key="23d04b1c-06d7-4149-a82a-d7f6eb5fe3a5" parentID="1163" level="3" creatorID="0" sortOrder="0" createDate="2016-06-28T13:41:52" updateDate="2016-07-01T13:42:59" nodeName="Shane Jerman" urlName="shane-jerman" path="-1,1141,1163,1164" isDoc="" nodeType="1154" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1153" nodeTypeAlias="trainer">
        <trainerImage><![CDATA[1073]]></trainerImage>
        <trainerFacebook><![CDATA[https://www.facebook.com/shanejer]]></trainerFacebook>
        <trainerTitle><![CDATA[Nutritionist and Coaching]]></trainerTitle>
        <trainerDescription><![CDATA[<p>10 years of training and competition experience<br />World Record Deadlift Holder<br />Nutritionist<br />Personal Trainer<br />Strength and Conditioning Coach<br /><br /></p>]]></trainerDescription>
        <trainerInstagram><![CDATA[https://www.instagram.com/mstsystems/]]></trainerInstagram>
        <trainerName><![CDATA[Shane Jerman]]></trainerName>
      </trainer>
    </trainers>
    <prices id="1175" key="731d72e7-d714-4044-8fa4-feec14ee6ac3" parentID="1141" level="2" creatorID="0" sortOrder="3" createDate="2016-06-30T22:13:52" updateDate="2016-06-30T22:13:52" nodeName="Prices" urlName="prices" path="-1,1141,1175" isDoc="" nodeType="1165" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="0" nodeTypeAlias="prices">
      <price id="1177" key="5621b271-a131-4b74-9d11-b16b0c9296a5" parentID="1175" level="3" creatorID="0" sortOrder="1" createDate="2016-06-30T22:16:31" updateDate="2016-07-01T13:41:41" nodeName="30 Day Contract" urlName="30-day-contract" path="-1,1141,1175,1177" isDoc="" nodeType="1171" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1170" nodeTypeAlias="price">
        <tariffPrice><![CDATA[£30]]></tariffPrice>
        <tariffLength><![CDATA[/month]]></tariffLength>
        <bestValue>0</bestValue>
        <tariffType><![CDATA[Annual Contract]]></tariffType>
        <tariffDescription><![CDATA[<p>Basic 12 month contract. Alternatively pay £40 for no contract, no frills attached.</p>]]></tariffDescription>
      </price>
      <price id="1178" key="4e426821-b4e6-4ee0-80df-c3c46630f5f4" parentID="1175" level="3" creatorID="0" sortOrder="2" createDate="2016-06-30T22:18:38" updateDate="2016-07-14T15:34:38" nodeName="MST Systems 1" urlName="mst-systems-1" path="-1,1141,1175,1178" isDoc="" nodeType="1171" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1170" nodeTypeAlias="price">
        <tariffPrice><![CDATA[£100]]></tariffPrice>
        <tariffLength><![CDATA[/month]]></tariffLength>
        <bestValue>1</bestValue>
        <tariffType><![CDATA[MST System 1]]></tariffType>
        <tariffDescription><![CDATA[<p>MST Systems 6 month program. Guaranteed results. Includes gym membership, nutrition plan and training program tailored to your exact goals with 1 hour of coaching a week.</p>]]></tariffDescription>
      </price>
      <price id="1245" key="bfba1db3-3791-4e2d-89e9-2ab9aa085a85" parentID="1175" level="3" creatorID="0" sortOrder="3" createDate="2016-07-14T15:35:44" updateDate="2016-07-14T15:35:44" nodeName="MST Systems 2" urlName="mst-systems-2" path="-1,1141,1175,1245" isDoc="" nodeType="1171" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1170" nodeTypeAlias="price">
        <tariffPrice><![CDATA[£150]]></tariffPrice>
        <tariffLength><![CDATA[/month]]></tariffLength>
        <bestValue>0</bestValue>
        <tariffType><![CDATA[MST Systems 2]]></tariffType>
        <tariffDescription><![CDATA[<p>Includes gym membership, nutrition and training plan with 2 hours a week of coaching scheduled at a time convenient for you.</p>]]></tariffDescription>
      </price>
      <price id="1246" key="a763410d-af73-4567-8c28-09ff0d175ef6" parentID="1175" level="3" creatorID="0" sortOrder="4" createDate="2016-07-14T15:38:53" updateDate="2016-07-14T15:38:53" nodeName="MST Systems 3" urlName="mst-systems-3" path="-1,1141,1175,1246" isDoc="" nodeType="1171" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1170" nodeTypeAlias="price">
        <tariffPrice><![CDATA[£200]]></tariffPrice>
        <tariffLength><![CDATA[/month]]></tariffLength>
        <bestValue>0</bestValue>
        <tariffType><![CDATA[MST Systems 3]]></tariffType>
        <tariffDescription><![CDATA[<p>Same setup as MST Systems 1 and 2, but with 3 hours a week coaching scheduled at a time convenient for you.</p>]]></tariffDescription>
      </price>
    </prices>
    <about id="1190" key="9fab2f81-7e30-48b8-9a3d-cf5948db31bc" parentID="1141" level="2" creatorID="0" sortOrder="5" createDate="2016-07-06T12:55:42" updateDate="2016-07-14T20:26:58" nodeName="About" urlName="about" path="-1,1141,1190" isDoc="" nodeType="1189" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1188" nodeTypeAlias="about">
      <aboutDescription><![CDATA[<p>MST Fitness is Morecambe and Lancaster's only dedicated strength and conditioning facility. Our training programs are personally tailored to your goals, with nutrition plans to make sure you'll be performing at your peak level, and with 1-on-1 personal coaching to help you get the most of of your program.</p>
<p>We offer open gym memberships that offers full access to all the equipment in the gym. Prices start from £4.50 per session. </p>
<p>For more information, please don't hesitate to get in touch! </p>]]></aboutDescription>
    </about>
    <contact id="1215" key="747f432a-9769-4476-b984-e41baf96a48a" parentID="1141" level="2" creatorID="0" sortOrder="7" createDate="2016-07-10T21:48:45" updateDate="2016-07-10T21:48:45" nodeName="Contact Page" urlName="contact-page" path="-1,1141,1215" isDoc="" nodeType="1214" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1213" nodeTypeAlias="contact" />
    <blogContent id="1229" key="4b8ab03b-af2e-486e-8678-102726a6f5b0" parentID="1141" level="2" creatorID="0" sortOrder="8" createDate="2016-07-13T21:40:11" updateDate="2016-07-13T21:40:11" nodeName="Blog" urlName="blog" path="-1,1141,1229" isDoc="" nodeType="1221" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1220" nodeTypeAlias="blogContent">
      <blog><![CDATA[MST Fitness Blog]]></blog>
      <blogPageDescription><![CDATA[<p>A blog for all things MST. Updates,  training and nutrition tips.</p>]]></blogPageDescription>
      <blogPostHolder id="1230" key="169e9702-62d8-42bd-b804-0fbcc0751df1" parentID="1229" level="3" creatorID="0" sortOrder="0" createDate="2016-07-13T21:40:21" updateDate="2016-07-13T21:40:21" nodeName="Blog Posts" urlName="blog-posts" path="-1,1141,1229,1230" isDoc="" nodeType="1222" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="0" nodeTypeAlias="blogPostHolder" />
      <blogCategory id="1231" key="0a41362d-64f2-4bc3-a23d-023d389c335b" parentID="1229" level="3" creatorID="0" sortOrder="1" createDate="2016-07-13T21:40:48" updateDate="2016-07-13T21:40:48" nodeName="Training Tips" urlName="training-tips" path="-1,1141,1229,1231" isDoc="" nodeType="1228" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="0" nodeTypeAlias="blogCategory">
        <categoryId><![CDATA[1]]></categoryId>
        <categoryName><![CDATA[Training Tips]]></categoryName>
      </blogCategory>
      <blogCategory id="1232" key="51d5389a-a70b-4a64-8d97-44f1f3d386c1" parentID="1229" level="3" creatorID="0" sortOrder="2" createDate="2016-07-13T21:41:02" updateDate="2016-07-13T21:41:02" nodeName="Nutrition" urlName="nutrition" path="-1,1141,1229,1232" isDoc="" nodeType="1228" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="0" nodeTypeAlias="blogCategory">
        <categoryId><![CDATA[2]]></categoryId>
        <categoryName><![CDATA[Nutrition]]></categoryName>
      </blogCategory>
      <blogCategory id="1233" key="5649d905-395e-42ab-ab3e-930ec24efdb9" parentID="1229" level="3" creatorID="0" sortOrder="3" createDate="2016-07-13T21:41:35" updateDate="2016-07-13T21:41:35" nodeName="Updates" urlName="updates" path="-1,1141,1229,1233" isDoc="" nodeType="1228" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="0" nodeTypeAlias="blogCategory">
        <categoryId><![CDATA[3]]></categoryId>
        <categoryName><![CDATA[Updates]]></categoryName>
      </blogCategory>
      <blogCategory id="1240" key="73150b0f-3be9-47a6-ad3b-7fdbe5d1deeb" parentID="1229" level="3" creatorID="0" sortOrder="4" createDate="2016-07-14T00:23:31" updateDate="2016-07-14T13:44:15" nodeName="Client Results" urlName="client-results" path="-1,1141,1229,1240" isDoc="" nodeType="1228" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="0" nodeTypeAlias="blogCategory">
        <categoryId><![CDATA[4]]></categoryId>
        <categoryName><![CDATA[Client Results]]></categoryName>
      </blogCategory>
    </blogContent>
  </homePage>
</root>