<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT prices ANY>
<!ATTLIST prices id ID #REQUIRED>
<!ELEMENT program ANY>
<!ATTLIST program id ID #REQUIRED>
<!ELEMENT programs ANY>
<!ATTLIST programs id ID #REQUIRED>
<!ELEMENT result ANY>
<!ATTLIST result id ID #REQUIRED>
<!ELEMENT results ANY>
<!ATTLIST results id ID #REQUIRED>
<!ELEMENT price ANY>
<!ATTLIST price id ID #REQUIRED>
<!ELEMENT trainer ANY>
<!ATTLIST trainer id ID #REQUIRED>
<!ELEMENT trainers ANY>
<!ATTLIST trainers id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1141" key="fd275698-05c7-4470-a186-25d8de430585" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-06-27T23:04:53" updateDate="2016-06-30T22:13:01" nodeName="Home Page" urlName="home-page" path="-1,1141" isDoc="" nodeType="1130" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1129" nodeTypeAlias="homePage">
    <websiteTitle><![CDATA[MST Systems]]></websiteTitle>
    <headerDescription><![CDATA[<p>Training Systems personally tailored for you.</p>]]></headerDescription>
    <programsDescription><![CDATA[<p>We offer a wide range of plans, all tailored to help you reach your goals.</p>]]></programsDescription>
    <programsTitle><![CDATA[Our Programs]]></programsTitle>
    <priceTitle><![CDATA[Prices and Contracts]]></priceTitle>
    <pricesDescription><![CDATA[<p>We offer a range of options at MST to help you achieve your fitness goals.</p>]]></pricesDescription>
    <programs id="1143" key="fe25c51e-48a0-4014-8581-adb51f9c44d2" parentID="1141" level="2" creatorID="0" sortOrder="1" createDate="2016-06-27T23:25:55" updateDate="2016-06-28T00:11:15" nodeName="Programs" urlName="programs" path="-1,1141,1143" isDoc="" nodeType="1135" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="0" nodeTypeAlias="programs">
      <program id="1144" key="2b415726-53c9-441c-864b-e877adde9132" parentID="1143" level="3" creatorID="0" sortOrder="1" createDate="2016-06-27T23:27:04" updateDate="2016-06-28T00:11:11" nodeName="Strength" urlName="strength" path="-1,1141,1143,1144" isDoc="" nodeType="1140" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1139" nodeTypeAlias="program">
        <programTitle><![CDATA[Strength ]]></programTitle>
        <programDescription><![CDATA[<p>Help us reach your strength goals and create a stronger you.</p>]]></programDescription>
      </program>
      <program id="1145" key="80b1370c-ce8a-4616-b400-76f638a310e0" parentID="1143" level="3" creatorID="0" sortOrder="2" createDate="2016-06-28T00:19:34" updateDate="2016-06-28T00:19:34" nodeName="Nutrition" urlName="nutrition" path="-1,1141,1143,1145" isDoc="" nodeType="1140" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1139" nodeTypeAlias="program">
        <programTitle><![CDATA[Nutrition]]></programTitle>
        <programDescription><![CDATA[<p>The foundation of any fitness regime. Your diet needs to be on point to get to where you want.</p>]]></programDescription>
      </program>
    </programs>
    <trainers id="1163" key="6f7bd131-a74c-4e18-a905-e1d477210d4b" parentID="1141" level="2" creatorID="0" sortOrder="2" createDate="2016-06-28T13:35:59" updateDate="2016-06-28T13:35:59" nodeName="Trainers" urlName="trainers" path="-1,1141,1163" isDoc="" nodeType="1152" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="0" nodeTypeAlias="trainers">
      <trainer id="1164" key="23d04b1c-06d7-4149-a82a-d7f6eb5fe3a5" parentID="1163" level="3" creatorID="0" sortOrder="0" createDate="2016-06-28T13:41:52" updateDate="2016-07-01T13:42:59" nodeName="Shane Jerman" urlName="shane-jerman" path="-1,1141,1163,1164" isDoc="" nodeType="1154" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1153" nodeTypeAlias="trainer">
        <trainerImage><![CDATA[1073]]></trainerImage>
        <trainerFacebook><![CDATA[https://www.facebook.com/shanejer]]></trainerFacebook>
        <trainerTitle><![CDATA[Nutritionist and Coaching]]></trainerTitle>
        <trainerDescription><![CDATA[<p>10 years of training and competition experience<br />World Record Deadlift Holder<br />Nutritionist<br />Personal Trainer<br />Strength and Conditioning Coach<br /><br /></p>]]></trainerDescription>
        <trainerInstagram><![CDATA[https://www.instagram.com/mstsystems/]]></trainerInstagram>
        <trainerName><![CDATA[Shane Jerman]]></trainerName>
      </trainer>
    </trainers>
    <prices id="1175" key="731d72e7-d714-4044-8fa4-feec14ee6ac3" parentID="1141" level="2" creatorID="0" sortOrder="3" createDate="2016-06-30T22:13:52" updateDate="2016-06-30T22:13:52" nodeName="Prices" urlName="prices" path="-1,1141,1175" isDoc="" nodeType="1165" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="0" nodeTypeAlias="prices">
      <price id="1176" key="a74b965f-21e3-4415-8f02-e4f6420298e2" parentID="1175" level="3" creatorID="0" sortOrder="0" createDate="2016-06-30T22:15:01" updateDate="2016-06-30T22:15:01" nodeName="Per Session" urlName="per-session" path="-1,1141,1175,1176" isDoc="" nodeType="1171" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1170" nodeTypeAlias="price">
        <tariffPrice><![CDATA[£4.50]]></tariffPrice>
        <tariffLength><![CDATA[/day]]></tariffLength>
        <bestValue>0</bestValue>
        <tariffType><![CDATA[Per Day]]></tariffType>
        <tariffDescription><![CDATA[<p>Pay per day for an open gym with use of all the equipment and weights at MST.</p>]]></tariffDescription>
      </price>
      <price id="1177" key="5621b271-a131-4b74-9d11-b16b0c9296a5" parentID="1175" level="3" creatorID="0" sortOrder="1" createDate="2016-06-30T22:16:31" updateDate="2016-07-01T13:41:41" nodeName="30 Day Contract" urlName="30-day-contract" path="-1,1141,1175,1177" isDoc="" nodeType="1171" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1170" nodeTypeAlias="price">
        <tariffPrice><![CDATA[£30]]></tariffPrice>
        <tariffLength><![CDATA[/month]]></tariffLength>
        <bestValue>0</bestValue>
        <tariffType><![CDATA[Annual Contract]]></tariffType>
        <tariffDescription><![CDATA[<p>Basic 12 month contract. Alternatively pay £40 for no contract, no frills attached.</p>]]></tariffDescription>
      </price>
      <price id="1178" key="4e426821-b4e6-4ee0-80df-c3c46630f5f4" parentID="1175" level="3" creatorID="0" sortOrder="2" createDate="2016-06-30T22:18:38" updateDate="2016-06-30T22:18:38" nodeName="MST Systems" urlName="mst-systems" path="-1,1141,1175,1178" isDoc="" nodeType="1171" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1170" nodeTypeAlias="price">
        <tariffPrice><![CDATA[£100]]></tariffPrice>
        <tariffLength><![CDATA[/month]]></tariffLength>
        <bestValue>1</bestValue>
        <tariffType><![CDATA[MST System]]></tariffType>
        <tariffDescription><![CDATA[<p>MST Systems 6 month program. Guaranteed results. Includes gym membership, nutrition plan and training program tailored to your exact goals.</p>]]></tariffDescription>
      </price>
    </prices>
    <about id="1190" key="9fab2f81-7e30-48b8-9a3d-cf5948db31bc" parentID="1141" level="2" creatorID="0" sortOrder="5" createDate="2016-07-06T12:55:42" updateDate="2016-07-06T12:55:42" nodeName="About" urlName="about" path="-1,1141,1190" isDoc="" nodeType="1189" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1188" nodeTypeAlias="about">
      <aboutDescription><![CDATA[<p>MST is about this, this and this.</p>]]></aboutDescription>
    </about>
    <results id="1203" key="e1689e79-7dda-4a36-98e0-b2cdff9ee74e" parentID="1141" level="2" creatorID="0" sortOrder="6" createDate="2016-07-06T23:28:51" updateDate="2016-07-08T00:46:43" nodeName="Results" urlName="results" path="-1,1141,1203" isDoc="" nodeType="1196" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1195" nodeTypeAlias="results">
      <clientName><![CDATA[Client Results]]></clientName>
      <resultPageDescription><![CDATA[<p>Success stories from some of our existing clients who are on a personalised MST System training plan.</p>]]></resultPageDescription>
      <result id="1208" key="8d9e0aea-f885-4a53-a382-d7b90fc39cc8" parentID="1203" level="3" creatorID="0" sortOrder="0" createDate="2016-07-08T00:28:09" updateDate="2016-07-08T00:47:00" nodeName="Some Guy" urlName="some-guy" path="-1,1141,1203,1208" isDoc="" nodeType="1201" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1212" nodeTypeAlias="result">
        <clientName><![CDATA[Some Guy]]></clientName>
        <clientDescription><![CDATA[<p>He came, he saw, he conquered. </p>]]></clientDescription>
        <resultPhotos><![CDATA[1206,1207]]></resultPhotos>
      </result>
      <result id="1209" key="af49aaa5-8fc9-401c-8a27-24b7daa7830b" parentID="1203" level="3" creatorID="0" sortOrder="1" createDate="2016-07-08T00:29:31" updateDate="2016-07-08T00:47:05" nodeName="Second Guy" urlName="second-guy" path="-1,1141,1203,1209" isDoc="" nodeType="1201" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1212" nodeTypeAlias="result">
        <clientName><![CDATA[Someone Else]]></clientName>
        <clientDescription><![CDATA[<p>Came and kicked ass.</p>]]></clientDescription>
      </result>
      <result id="1210" key="c48978f5-79e0-4efc-a2c8-750108a042ca" parentID="1203" level="3" creatorID="0" sortOrder="2" createDate="2016-07-08T00:29:45" updateDate="2016-07-08T00:47:11" nodeName="Third Guy" urlName="third-guy" path="-1,1141,1203,1210" isDoc="" nodeType="1201" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1212" nodeTypeAlias="result">
        <clientName><![CDATA[Third Guy]]></clientName>
        <clientDescription><![CDATA[<p>Hell yea!</p>]]></clientDescription>
      </result>
      <result id="1211" key="3905249b-b2b7-490e-b4f5-fe14176f370a" parentID="1203" level="3" creatorID="0" sortOrder="3" createDate="2016-07-08T00:30:18" updateDate="2016-07-08T00:47:15" nodeName="Bang Bang" urlName="bang-bang" path="-1,1141,1203,1211" isDoc="" nodeType="1201" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1212" nodeTypeAlias="result">
        <clientName><![CDATA[Straight U]]></clientName>
        <clientDescription><![CDATA[<p>Straight up Chitty Chitty Bang Bang</p>]]></clientDescription>
      </result>
    </results>
    <contact id="1215" key="747f432a-9769-4476-b984-e41baf96a48a" parentID="1141" level="2" creatorID="0" sortOrder="7" createDate="2016-07-10T21:48:45" updateDate="2016-07-10T21:48:45" nodeName="Contact Page" urlName="contact-page" path="-1,1141,1215" isDoc="" nodeType="1214" creatorName="Harrison Fleetwood" writerName="Harrison Fleetwood" writerID="0" template="1213" nodeTypeAlias="contact" />
  </homePage>
</root>